{% extends "base.html" %}

{% block styles %}
  {{ super() }}
{% endblock %}

{% block main_content %}
<div class="content-block" id="title-block">
  <h1 class="page-title" id="title">Connection Requests</h1>
</div>
<div class="content-block" id="mentee-card-container">
  {% raw %}{% for request in connectionRequests %}
    {% set mentee = request.fromUser %}
    <div class="mentee-card" id="{{ mentee.name }}-card">
      <p class="request-id" hidden>{{ request.datastoreKey }}</p>
      <h3 class="mentee-name">Name: {{ mentee.name }}</h3>
      <p class="mentee-name">UserKey: {{ mentee.datastoreKey }}</p>
      <div class="request-buttons">
        <button id="yes">Accept</button>
        <button id="no">Decline</button>
      </div>
    </div>
  {% endfor %} {% endraw %}
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script charset="utf-8" type="text/javascript" src="static/scripts/connection-requests.js"></script>
{% endblock %}
