{% extends "base.html" %}

{% block styles %}
  {{ super() }}
{% endblock %}

{% block main_content %}
<div class="content-block" id="title-block">
  <h1 class="page-title" id="title">Connection Requests</h1>
</div>
<div class="content-block">

  {% raw %}{% for request in connection-requests %}
    <div class="mentor-card" id="{{ request.fromUserKey }}-card">
      <h3 class="mentee-name">UserKey: {{ request.fromUserKey }}</h3>
      <div>
        <button id="yes">Accept</button>
        <button id="no">Decline</button>
      </div>
    </div>
  {% endfor %} {% endraw %}
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
{% endblock %}
