{% extends "base.html" %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="static/styles/find-mentor.css">
{% endblock %}

{% block main_content %}
<div class="content-block" id="title-block">
  <h1 class="page-title" id="title">Find a Mentor</h1>
</div>
<div class="content-block" id="mentor-cards-container">
  {% raw %}{% for mentor in mentors %}
    {% include "mentor-card.html" %}
  {% endfor %}{% endraw %}
</div>
<div class="content-block" id="mentor-rating-buttons">
  <button class="pretty-button mentor-rating-button" id="send-request">Send mentor request!</button>
  <button class="pretty-button mentor-rating-button" id="dislike-mentor">I don't want to work with this mentor.</button>
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script charset="utf-8" type="text/javascript" src="static/scripts/find-mentor.js"></script>
{% endblock %}
