{% extends "base.html" %}

{% block styles %}
{{ super() }}
{% endblock %}

{% block main_content %}
<div class="content-block" id="title-block">
	<h1 class="page-title" id="title">Your Dashboard</h1>
</div>
<div class="content-block" id="mentor-cards-container">
	{% raw %}{% for connection in connections %}
	<div class="mentor" id="{{ connection.mentor.name }}">
		<h3 class="mentor-name">{{ connection.mentor.name }}</h3>
		<h5 class="mentee-data-label">Focus: {{ connection.mentor.focus.title }}</h5>
		<ul class="mentor-focus-list">
	    {% for focus in connection.mentor.focusList %}
	      <li class="mentor-focus-item">{{ focus.title }}</li>
	    {% endfor %}
	  </ul>
	</div>
	{% endfor %}{% endraw %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script charset="utf-8" type="text/javascript" src="static/scripts/authenticate.js" onload="loadAuthButton()"></script>
{% endblock %}
