{% extends "base.html" %}

{% block title %}My Profile{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="static/styles/profile.css">
{% endblock %}

{% block main_content %}{% raw %}
<div class="container">
  <header>
    <i class="fa fa-bars" aria-hidden="true"></i>
  </header>
  <main>
    <div class="row">
      <div class="left col-lg-4">
        <div class="photo-left">
          <img class="photo" src="https://images.pexels.com/photos/1804796/pexels-photo-1804796.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"/>
          <div class="active"></div>
          <h4 class="name">
            {{user.name}}
          </h4>
          <p class="info">
            {{user.emaail}}
          </p>
        </div>
      </div>

      <div class="right col-lg-8">

        <div class="stats row">
        {% if userType == "mentor" %}
          Mentor Information to display
        {% else %}
          Mentee Information to display
        {% endif %}
        </div>
        <p class="desc">About Me here</p>
      </div>
      <button onclick="location.href='/questionnaire';">Edit My Profile</button>
  </main>
</div>
{% endraw %}{% endblock %}

{% block scripts %}
  {{ super() }}
  <script charset="utf-8" type="text/javascript" src="static/scripts/profile.js"></script>
{% endblock %}
